In [1]:
import numpy as np
import pandas as pd

In [10]:
s1 = np.array([1, 2 ,3 ,4])
s2 = np.array([2, 3, 5, 7])
df = pd.DataFrame({'c1':s1, 'c2':s2})
df

   c1  c2
0   1   2
1   2   3
2   3   5
3   4   7

In [13]:
df['less_then_4'] = np.where(df.c2<4,'yes','no')
df

   c1  c2 less_then_4
0   1   2         yes
1   2   3         yes
2   3   5          no
3   4   7          no

In [9]:
df = pd.DataFrame([s1, s2], index=['a','b'])
df

   0  1  2  3
a  1  2  3  4
b  2  3  5  7